{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Trending and latest posts (tabs) -->
<div id="posts" class="container">

    <h2 class="text-center">Search results</h2>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#trendingPosts">Posts</a>
        </li>
        <li>
            <a data-toggle="tab" href="#users">Users</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="trendingPosts" class="tab-pane fade in active ">
        {% for post in posts %}
            <div class="post">
                <div class="postStats container ">
                    <div class="likes text-center">
                        <div class="count">{{ post.likes }}</div>
                        <div>likes</div>
                    </div>
                    <div class="comments text-center">
                        <div class="count">{{ post.number_of_comments }}</div>
                        <div>comments</div>
                    </div>
                    <div class="views text-center">
                        <div class="count">{{ post.views }}</div>
                        <div>views</div>
                    </div>
                </div>
                <div class="postTitleDiv">
                    <a href="{% url 'post' post.id %}"><h3>{{ post.title }}</h3></a>
                    <div class="dateCreatedDiv pull-right">
                        <p>Date created: {{ post.created_at}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div id="users" class="tab-pane fade">
        {% for user in users %}
            <div class="post">
                <div class="postStats container text-center">
                    <a href="{% url 'user' user.id %}"><img class="img-circle" src="http://127.0.0.1:8000/{{ user.userdetails.image }}" alt="AVATAR" style="height: 128px; width: 128px;"></a>
                    <br>
                    <p style="display: block;">{{ user.username }}</p>
                </div>
                <div class="postTitleDiv">
                    <a href="{% url 'user' user.id %}"><h3>{{ user.username }}</h3></a>
                    <div class="dateCreatedDiv pull-right">
                        <p>Date joined: {{ user.date_joined }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}