{% load widget_tweaks %}
<!-- Modal sign in form -->
<form id="signInForm" action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <div id="signInWindow" class="container">
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sign in</h4>
                    </div>
                    <div class="modal-body">

                        {% if messages %}
                            <input id="message" type="hidden" value="true"> 
                            {% for message in messages %}
                                <p class="sessionFlash">{{ message }}</p>
                            {% endfor %} 
                        {% else %}
                            <input id="message" type="hidden" value="false"> 
                        {% endif %}


                        <p class="labelCustom">Username:</p>
                        {% render_field form2.username class="form-control" %}
                        <br>
                        <p class="labelCustom">Password:</p>
                        {% render_field form2.password class="form-control" type="password" %}

                    </div>
                    <div class="modal-footer form-group">
                        <button id="signInBtn" class="btn btn-primary pull-left" type="submit">Sign in</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(window).on('load', function () {
        if ($('#message').val() == "true") {
            $('#myModal').modal('show');
        }
    });
</script>